@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.Header_wrapper{
    width: 100%;
    border-radius: 5px;
    background: #edf6ff;
    padding: 5px 10px;
    border-radius: 8px;
    margin: 5px 0;
}
.listcontent:hover{
    background: #6c757d;
    color: #FFF;
}
.ProfileDropdown{
    top:10px;
    li{
        font-size: 13px;
    }
}
.Header_title{
    font-weight: bold;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: #666568;
}
.Header_Profile{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 2px;
    letter-spacing: 1px;
    span::after{
        display: none !important;
    }

}
.logoDesign{
    width: 30px;
    height: 30px;
    padding: -25px;
    margin-right: 8px;
}

.profileWrapper{
    position: absolute;
    margin: auto;
    right: 0;
    text-align: left;
    left: 0;
    width: 70vh;
    height: 55vh;
    border-radius: 10px;
    padding: 20px;
    background: #ffff;
    font-family: 'Kanit', sans-serif;
    z-index: 2;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.profileKey{
    font-weight: 600;
}
.closeButton{
    position: relative !important;
    bottom: -4rem;
}
.HeaderMenu{
    background: #ffff;
    box-shadow: #edf6ff;
}
.listgroup_option{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    background: #FFF;
    width: 15%;
    position: absolute;
    right: 0;
    margin-top: 20px !important;
    margin-right: 20px;
    z-index: 20;
    li{
       &:hover{
        background: #408fda;
        color: #ffff;
       }
    }
}

.profileOuterWrapper{
    padding: 30px;
    width: 100%;
}
.profileHeading{
    text-align: center;
}

.headingLabel{
    font-family: "Montserrat", sans-serif !important;
    font-weight: bold;
    font-size: 14px;
    padding:5px 0;
}
.input{
    height: 38px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid inherit;
    font-family: "Montserrat", sans-serif !important;
    border: 1px solid hsl(0, 0%, 80%);
    padding: 0 10px;
    font-size: 13px;
    //outline: #0d6efd;
  }
  .input:focus-visible{
     outline: 1.8px solid #0d6efd;
  }
  .buttonWrapper{
    float: right;
    margin: 20px;
  }
  .button{
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 12px;
    background: #408fda;
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
    border: 0;
    font-family: "Montserrat", sans-serif !important;
}

.button:hover{
    transform: scale(1.01);
    box-shadow: rgba(0.35, 0, 0, 0.35) 0px 5px 15px;
  }
