.scrollbarWrap  {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
  }
.scrollbarWrap::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
  }
  
  /* Track */
  .scrollbarWrap::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
  }
   
  /* Handle */
  .scrollbarWrap::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .scrollbarWrap::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }