

.table {display:table;border-collapse:separate;border-spacing:10px; width: 100%; margin: auto;}
.tr {
    display:table-row;
    background: gray;
    margin-bottom: 15px !important;
    border: 2px solid gray;
}

